<div class="container-fluid bg-dark text-white-50 footer wow fadeIn" 
    style="position: relative; top: 100%;" data-wow-delay="0.1s">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">Pawsitively Perfect</a>, All Right Reserved. 
            </div>
        </div>
    </div>
</div>