<% layout('layouts/boilerplate') %>

    <head>
        <style>
            .gradient-custom {
                background: linear-gradient(to right bottom, rgb(179, 250, 189), rgb(127, 177, 229));
            }
        </style>
    </head>
    <section style="background-color: rgb(253, 253, 253);">
        <div class="conatiner mb-3">
            <div class="row align-items-center">
                <div class="col-6 mx-auto">
                    <div class="card ">
                        <h3 class="card-header text-center text-black gradient gradient-custom">&copy; Pawsitively
                            Perfect</h3>

                        <div class="card-body mx-5">
                            <div class="row">

                                <div class="col-xl-10">
                                    <p class="fs-4">Booking No.</p>
                                </div>
                                <div class="col-xl-2">
                                    <p class="float-end fs-4">
                                        <>
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xl-10">
                                    <p class="fs-4">Date</p>
                                </div>
                                <div class="col-xl-2">
                                    <p class="float-end fs-6">
                                        <>
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xl-10">
                                    <p class="fs-4">User name</p>
                                </div>
                                <div class="col-xl-2">
                                    <p class="float-end fs-4">
                                        <>
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xl-10">
                                    <p class="fs-4">Care provider</p>
                                </div>
                                <div class="col-xl-2">
                                    <p class="float-end fs-4">
                                        <>
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <div class="row text-black">
                                <div class="col-xl-10">
                                    <p class="fs-4">Amount</p>
                                </div>
                                <div class="col-xl-2">
                                    <p class="float-end fs-4">
                                        <>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" style="margin-top: 60px;">
                            <p class="my-3 mx-5" style="font-size: 30px;">"Thank you for making your pet pawsitively
                                perfect with us!"</p>
                        </div>

                        <div class="d-grid col-2 my-3 mx-auto">
                            <div class="button">
                                <a href="" class="btn gradient gradient-custom btn-success btn-lg text-dark">Confirm</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>