<% layout('layouts/boilerplate') %>

    <head>
        <style>
            .gradient-custom {
                background: linear-gradient(to right bottom, rgb(179, 250, 189), rgb(127, 177, 229));
            }

            .custom-card {
                width: 700px;
                height: 500px;

            }
        </style>
    </head>
    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4">
                    <div class="card mb-5 custom-card" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; height: 500px">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" alt="Avatar"
                                    class="rounded-circle my-5 img-fluid" style="width: 175px;" />

                                <h4>Tiffany</h4>
                                <h6>Veterinary Assistant</h6>
                                <p>&#10003 background checked</p>
                                <p>&#x2197 high demand</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-6 me-8 justify-content-center">Book Now</a>
                                
                                <!-- to add star rating later
                <div class="container">
                    <span id="rateMe1"></span>
                  </div>
                  
                  
                  <script src=""></script> -->

                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-5">
                                    <p>“Hello! I work in veterinary shelter medicine, and I have 10+ years of experience
                                        with dogs of all breeds, sizes, and temperaments. I specialize in animal safe
                                        handling and behavior. Looking forward to meeting you and your fine furry
                                        friends for lots of daily enrichment and exercise.” </p>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">info@example.com</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">123 456 789</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <h6>Services</h6>

                                    <div class="row pt-1">
                                        <p>Dog walking</p>

                                    </div>
                                    <div class="d-flex justify-content-center mt-auto">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-5"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-5"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>