<% layout('layouts/boilerplate') %>
    <div class="p-2 bg-body rounded">
        <h2 class="fs-2 fw-bold mx-auto my-3 p-1">Pet Care Provider Registration</h2>
        <form action="/RegisterCaretaker" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control col-md-4" id="inlineFormInputGroup" placeholder="Username"
                        name="username" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
                        name="password" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control col-md-4" id="CareName" placeholder="Name" name="orgName"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="CareMail" placeholder="Mail" name="orgMail" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="number" class="form-control" id="inputPhone" placeholder="Phone Number"
                        name="phoneNumber" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" id="inputALtphone" placeholder="Alternate Phone Number"
                        name="altph" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputDesignation" placeholder="Designation"
                        name="designation">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address" name="add1"
                        required>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="inputAbout" class="form-label">About</label>
                <textarea class="form-control" id="about" rows="5"></textarea>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city" placeholder="Indore" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" name="state" placeholder="Madhya Pradesh"
                        required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" name="zipCode" placeholder="452001" required>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-md col-md-12">Register</button>
        </form>
    </div>